<div class="login-page">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title i18n="@@Login">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="logInForm" (ngSubmit)="submit()">
        <progress-text-input [control]="username" [labelText]="'Benutzername'" [errorText]="'Benutzernamen eingeben'">
        </progress-text-input>
        <progress-password-input [control]="password" [labelText]="'Passwort'" [errorText]="'Passwort eingeben'">
        </progress-password-input>
        <mat-error *ngIf="logInFailed$ | async">Benutzername oder Passwort nicht korrekt</mat-error>
        <button mat-raised-button color="primary" type="submit" [disabled]="logInForm.invalid">LogIn</button>
      </form>
      <div class="link-section">
        <span i18n="@@createAccount">Create account?</span>
        <a routerLink="/registration">Registrieren</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
