<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <progress-text-input 
        [control]="username"
        [labelText]="'Benutzername'"
        [errorText]="'Benutzernamen eingeben'">
    </progress-text-input>

    <progress-password-input
        [control]="password"
        [labelText]="'Passwort'"
        [errorText]="'Passwort eingeben'">
    </progress-password-input>

    <progress-password-input
        [control]="passwordRepeat"
        [labelText]="'Passwort wiederholen'"
        [errorText]="'Passwort eingeben'">
    </progress-password-input>

    <p *ngIf="registrationSuccess$ | async">Anmeldung war erfolgreich</p>

    <mat-error *ngIf="password.valid && passwordRepeat.valid && password.value != passwordRepeat.value">
        Passwörter stimmen nicht überein!
    </mat-error>

    <button mat-button type="submit" [disabled]="registerForm.invalid">Registrieren</button>
</form>
<p>Du hast bereits einen Account?</p>
<a routerLink='/login'>Log In</a>