<header>
  <img src="assets/icons/kk_logo.png" alt="logo" class="logo" />
  <button class="nav-toggle-open" *ngIf="isLoggedIn$ | async">
    <span></span>
  </button>
  <button class="nav-toggle-close" *ngIf="isLoggedIn$ | async">
    <span></span>
  </button>
  <nav *ngIf="isLoggedIn$ | async">
    <ul>
      <li><a routerLink="/strength-values" i18n="@@strength">Strength</a></li>
      <li><a routerLink="/exercises" i18n="@@exercises">Exercises</a></li>
      <li><a (click)="logout()" i18n="@@logout">Logout</a></li>
    </ul>
  </nav>
</header>
