<div>
  <mat-card class="progress-card">
    <mat-card-header>
      <mat-card-title i18n="@@strengthValues">Strength values</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="mainForm">
        <mat-accordion formArrayName="strengthValues">
          <mat-expansion-panel *ngFor="let strengthValue of strengthValuesForms?.controls">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ strengthValue?.get('name').value }}
              </mat-panel-title>
              <mat-panel-description> {{ strengthValue?.get('oneRepMax').value }} kg </mat-panel-description>
            </mat-expansion-panel-header>
            <progress-text-input
              [control]="strengthValue?.get('weight')"
              i18n-labelText="@@weight"
              labelText="Weight"
              i18n-errorText="@@weightInvalid"
              errorText="Weight must be more then 1kg"
              [type]="'number'"
              [unit]="'kg'"
            >
            </progress-text-input>
            <progress-text-input
              [control]="strengthValue?.get('reps')"
              i18n-labelText="@@repetitions"
              labelText="Repetitions"
              i18n-errorText="@@repsInvalid"
              errorText="Repetition count must be more the 1"
              [type]="'number'"
              i18n-unit="@@repsUnit"
              unit="reps"
            >
            </progress-text-input>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@total">Total</mat-panel-title>
              <mat-panel-description> {{ mainForm.get('total').value | number }} kg </mat-panel-description>
            </mat-expansion-panel-header>
            <progress-text-input
              [control]=""
              i18n-labelText="@@safetyFactor1RM"
              labelText="Safety factor 1RM"
              [type]="'number'"
              [unit]="'%'"
            >
            </progress-text-input>
            <progress-text-input
              [control]=""
              i18n-labelText="@@roundingFactor"
              labelText="Rounding factor"
              [type]="'number'"
            >
            </progress-text-input>
          </mat-expansion-panel>
        </mat-accordion>

        <button mat-fab class="save-btn" color="primary" type="button" [disabled]="mainForm.invalid" (click)="save()">
          <mat-icon> save </mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
