@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css2?family=Actor&family=Anton&display=swap');

$font-family-primary: "'Actor', sans-serif";
$font-family-accent: "'Anton', serif";

// NOTE: input Line-height must be unit-less fraction of the font-size
// see mat-typography-config() definition for more info
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, 112px, 300, $font-family-accent, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 400, $font-family-accent, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 400, $font-family-accent, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 400, $font-family-accent),
  $headline: mat-typography-level(24px, 32px, 400, $font-family-accent),
  $title: mat-typography-level(20px, 32px, 500, $font-family-accent),
  $subheading-2: mat-typography-level(16px, 28px, 400, $font-family-accent),
  $subheading-1: mat-typography-level(15px, 24px, 400, $font-family-accent),
  $body-2: mat-typography-level(14px, 24px, 500, $font-family-primary),
  $body-1: mat-typography-level(14px, 20px, 400, $font-family-primary),
  $caption: mat-typography-level(12px, 20px, 400, $font-family-primary),
  $button: mat-typography-level(14px, 14px, 500, $font-family-accent),
  $input: mat-typography-level(inherit, 1.125, 400, $font-family-primary)
);

a {
  font-family: 'Anton', sans-serif, 'google';
}
